<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>倒计时新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/icon.min.css'>
    <link rel="stylesheet  prefetch" href="../../static/css/me.css" th:href="@{/css/me.css}"/>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 屏幕小时可堆叠-->
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>笔记</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown m-item m-mobile-hide item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        王友宁
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/countdowns}" class="teal item">列表</a>
            <a th:href="@{/admin/countdowns/input}" class="active teal item">新增</a>
        </div>
    </div>
</div>

<!--中间内容-->

<div class="m-container-small m-body-container m-padded-tb-big">
    <div class="ui container">
        <br><br><br><br><br>
        <form action="#" method="post" th:object="${countdown}"
              th:action="*{id}==null ? @{/admin/countdowns} : @{/admin/countdowns/{id}(id=*{id})} " class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <input type="hidden" name="countTime" th:value="*{#dates.format(countTime, 'yyyy-MM-dd HH:mm:ss')}">
            <input type="hidden" name="createTime" th:value="*{createTime}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input type="text" name="name" placeholder="倒计时名称" th:value="*{name}" autofocus="autofocus">
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui teal basic center aligned label">日期</div>
                        <input class="ui date" name="datetime" id="datetime"
                               th:value="|*{#dates.format(countTime, 'yyyy-MM-dd')}T*{#dates.format(countTime, 'HH:mm')}|"
                               type="datetime-local">
                    </div>
                </div>
                <div class="required field">
                    <div class="ui left labeled input">
                        <input class="ui date" name="second" id="second" type="number"
                               th:value="*{#dates.format(countTime, 'ss')}" placeholder="00~59">
                        <div class="ui basic center aligned label">秒</div>
                    </div>
                </div>
            </div>
            <div class="ui right aligned toggle checkbox">
                <input id="isShow" type="checkbox" name="isShow" class="hidden"
                       th:checked="*{isShow==null}?'false':*{isShow}" th:value="*{isShow==null}?'true':*{isShow}">
                <label for="isShow">主页显示</label>
            </div>
            <div class="ui error message"></div>
            <!--/*/
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
                  <i class="close icon"></i>
                  <div class="header">验证失败</div>
                  <p th:errors="*{name}">提交信息不符合规则</p>
                </div>
             /*/-->
            <div class="ui right aligned container">
                <!--若不指定type=button，则默认为submit-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">提交</button>
            </div>
        </form>
    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class=" ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新笔记</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:514754220@qq.com</a>
                    <a href="#" class="item">QQ:514754220</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">本站介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@......</p>
    </div>
</footer>

<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    $('.ui.form').form({
        fields: {
            name: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入倒计时名称'
                }]
            },
            second: {
                identifier: 'second',
                rules: [
                    {
                        type: 'integer[0..59]',
                        prompt: '只能输入0~59秒'
                    }
                ]
            }
        }
    });
    var showcheckbox = $('#isShow')
    showcheckbox.change(function () {
        showcheckbox.val(showcheckbox.prop("checked"))
    })
    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    //获取当前日期
    function getdatetime() {
        var time = new Date();
        var minute = ("0" + time.getMinutes()).slice(-2);
        var hour = ("0" + time.getHours()).slice(-2);
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth() + 1)).slice(-2);
        var today = time.getFullYear() + "-" + (month) + "-" + (day) + "T" + (hour) + ":" + (minute);
        return today;
    }

    var datetimeinput = $('#datetime');
    var secondinput = $('#second');
    var counttimeinput = $('[name=countTime]');

    function setdatetime(date) {
        datetimeinput.val(date);

    }

    if (/*[[${countdown.countTime}==null]]*/false) {
        datetimeinput.val(getdatetime());
        counttimeinput.val(new Date().format("yyyy-MM-dd hh:mm:00"))
        secondinput.val(0)
        showcheckbox.prop("checked", true).val('true')
    }
    datetimeinput.change(function () {
        let thisdate = new Date(datetimeinput.val());
        counttimeinput.val(thisdate.format('yyyy-MM-dd') + " " + thisdate.format("hh:mm:") + secondinput.val())
        console.log(datetimeinput.val());
    });
    secondinput.change(function () {
        if (secondinput.val() < 0) {
            secondinput.val(59)
        } else if (secondinput.val() > 59) {
            secondinput.val(0)
        }
        let thisdate = new Date(datetimeinput.val());
        counttimeinput.val(thisdate.format('yyyy-MM-dd') + " " + thisdate.format("hh:mm:") + secondinput.val())
        console.log(datetimeinput.val());
    });
</script>
</body>
</html>