<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>笔记管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/icon.min.css'>
    <link rel="stylesheet  prefetch" href="../../static/css/me.css" th:href="@{/css/me.css}"/>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 屏幕小时可堆叠-->
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>笔记</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown m-item m-mobile-hide item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        王友宁
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/notes}" class="active teal item">列表</a>
            <a href="#" th:href="@{/admin/notes/input}" class="item">新增</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-body-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                <!--/*-->
                                <div class="item" data-value="2">开发者日志</div>
                                <div class="item" data-value="3">其他</div>
                                <!--*/-->
                            </div>
                        </div>
                        <button id="clear" class="ui clear button">Clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="noteList" class="ui compact table">
            <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${page.getTotalPages()==0}">
                <td></td>
                <td>这里空空如也~</td>
                <td></td>
            </tr>
            <tr th:each="note,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${note.title}">刻意练习清单</td>
                <td th:text="${note.type.name}">认知升级</td>
                <td th:text="${note.recommend} ? '是':'否'">是</td>
                <td th:text="${note.published} ? '发布':'草稿'">草稿</td>
                <td th:text="${note.updateTime}">2021-03-31 09:12</td>
                <td>
                    <a href="#" th:href="@{/admin/notes/{id}/input(id=${note.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/notes/{id}/delete(id=${note.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui mini pagination menu"  th:if="${page.totalPages}>1">
                        <!--不用get，url拼接传表单的参数，改用表单自己的post传值-->
                        <a onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}"  class="item">上一页</a>
                        <a onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}"  class="item">下一页</a>
                    </div>
                    <span th:text="|第${(page.getTotalPages()==0)?0:(page.number+1)}页/共${page.getTotalPages()}页|"></span>
                    <a th:unless="${#lists.isEmpty(types)}" th:href="@{/admin/notes/input}" href="#" class="ui mini right floated teal basic button">新增</a>
                    <a th:if="${#lists.isEmpty(types)}" href="javascript:alert('请先前往个人中心添加分类!')" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>

        </div>
    </div>
</div>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class=" ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新笔记</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:514754220@qq.com</a>
                    <a href="#" class="item">QQ:514754220</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">本站介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介
                    绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。个人介绍。。
                    个人介绍。。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@......</p>
    </div>
</footer>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    function page(obj) {
        console.log(obj)
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    function loaddata() {
        $("#table-container").load(/*[[@{/admin/notes/search}]]*/"/admin/notes/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    //根据class选元素，不能有空格
    $('.clear.button').on('click',function () {
        $('.type.ui.dropdown').dropdown('clear');
    });
</script>
</body>
</html>