<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>首页</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/icon.min.css' rel='stylesheet prefetch'>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}"/>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 屏幕小时可堆叠-->
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">VTodo</h2>
            <a class="active m-item item m-mobile-hide" href="#"><i class="home icon"></i>首页</a>
            <a class="m-item item m-mobile-hide" href="#"><i class="idea icon"></i>分类</a>
            <a class="m-item item m-mobile-hide" href="#"><i class="tags icon"></i>标签</a>
            <a class="m-item item m-mobile-hide" href="#"><i class="clone icon"></i>归档</a>
            <a class="m-item item m-mobile-hide" href="#"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input placeholder="Search..." type="text">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a class="ui menu toggle icon black button m-right-top m-mobile-show" href="#">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-body-container m-padded-tb-big">
    <div class="ui container">
        <!-- container有响应式效果，根据屏幕不同的尺寸达到适应的效果-->
        <div class="ui stackable grid">
            <!--左边笔记列表-->
            <div class="eleven wide column">
                <!--header 用attached将两块segment连接，像是拼图，两个segment都得有-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">笔记</h3>
                        </div>
                        <div class="right aligned column">
                            <!--h是block元素，所以会直接换行,这里自定义m-inline-block-->
                            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2> 篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment">
                    <!--遍历，拿到note对象进行渲染-->
                    <div class="ui segment" th:if="${page.getTotalPages()}==0">
                        <p>我定睛一看，嚯，这里啥都没有~</p>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="note : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header"><a href="#" class="m-black" th:text="${note.title}" target="_blank" th:href="@{/note/{id}(id=${note.id})}">保佑我初试380</a></h3>
                               <!--|...|用于连接字符串-->
                                <p class="m-text" th:text="|${note.description}...|">给老师打工三年都没事，只要给我上岸！！！</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image"
                                                     src="https://picsum.photos/100/100?image=1005" th:src="@{${note.user.avatar}}">
                                                <div class="content"><a class="header" href="#" th:href="@{/about}" th:text="${note.user.nickname}">王友宁</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(note.updateTime, 'yyyy-MM-dd')}">2017-10-01</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon" th:text="${note.views}">232</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label m-padded-mini m-text-thin" href="#"
                                           target="_blank" th:href="@{/types/{id}(id=${note.type.id})}" th:text="${note.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank" th:href="@{/note/{id}(id=${note.id})}">
                                    <img alt="" class="ui rounded image" src="https://picsum.photos/800/450?image=1005" th:src="@{${note.firstPicture}}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/*-->
                    <div class="ui padded vertical segment m-padded-tb-big">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">保佑我初试380</h3>
                                <p class="m-text">给老师打工三年都没事，只要给我上岸！！！</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image"
                                                     src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">王友宁</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon">232</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label m-padded-mini m-text-thin" href="#"
                                           target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img alt="" class="ui rounded image" src="https://picsum.photos/800/450?image=1005">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-big">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">保佑我初试380</h3>
                                <p class="m-text">给老师打工三年都没事，只要给我上岸！！！</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image"
                                                     src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">王友宁</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon">232</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label m-padded-mini m-text-thin" href="#"
                                           target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img alt="" class="ui rounded image" src="https://picsum.photos/800/450?image=1005">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-big">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">保佑我初试380</h3>
                                <p class="m-text">给老师打工三年都没事，只要给我上岸！！！</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image"
                                                     src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">王友宁</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon">232</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label m-padded-mini m-text-thin" href="#"
                                           target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img alt="" class="ui rounded image" src="https://picsum.photos/800/450?image=1005">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-big">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">保佑我初试380</h3>
                                <p class="m-text">给老师打工三年都没事，只要给我上岸！！！</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image"
                                                     src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">王友宁</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon">232</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label m-padded-mini m-text-thin" href="#"
                                           target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img alt="" class="ui rounded image" src="https://picsum.photos/800/450?image=1005">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-big">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">保佑我初试380</h3>
                                <p class="m-text">给老师打工三年都没事，只要给我上岸！！！</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image"
                                                     src="https://picsum.photos/100/100?image=1005">
                                                <div class="content"><a class="header" href="#">王友宁</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon">232</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a class="ui teal basic label m-padded-mini m-text-thin" href="#"
                                           target="_blank">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img alt="" class="ui rounded image" src="https://picsum.photos/800/450?image=1005">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--*/-->
                </div>
                <!--footer-->
                <div class="ui bottom attached segment"  th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">

                        <div class="column">
                            <a class="ui mini teal basic button" href="#" th:href="@{/index/(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                        </div>
                        <span th:text="|第${(page.getTotalPages()==0)?0:(page.number+1)}页/共${page.getTotalPages()}页|"></span>
                        <div class="right aligned column">
                            <a class="ui mini teal basic button" href="#" th:href="@{/index/(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边的TOP-->
            <div class="five wide column">
                <!-- 分类 -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" th:href="@{/types/-1}">more <i class=" icon angle double right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <!--未填充满，加fluid-->
                        <div class="ui fluid vertical menu">
                            <div th:if="${#lists.isEmpty(types)}">
                                <p>我定睛一看，嚯，这里啥都没有~</p>
                            </div>
                            <a class="item" target="_blank" href="#" th:href="@{/types/{id}(id=${type.id})}" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <!--#arrays.length集合长度-->
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.notes)}">13</div>
                            </a>
                            <!--/*-->
                            <a class="item" href="#">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a class="item" href="#">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a class="item" href="#">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a class="item" href="#">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a class="item" href="#">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank" th:href="@{/tags/-1}">more <i class=" icon angle double right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div th:if="${#lists.isEmpty(tags)}">
                            <p>我定睛一看，嚯，这里啥都没有~</p>
                        </div>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank" th:href="@{/tags/{id}(id=${tag.id})}"  th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <!--挖坑，老师用的是#arrays.length()，我试试能不能直接size-->
                            <div class="detail" th:text="${tag.notes.size}">13</div>
                        </a>
                        <!--/*-->
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            论
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            法
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny" href="#" target="_blank">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <!--*/-->
                    </div>
                </div>

                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">

                    <div class="ui secondary segment">
                        <i class="tags icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:if="${#lists.isEmpty(recommendBlogs)}">
                        <p>我定睛一看，嚯，这里啥都没有~</p>
                    </div>
                    <div class="ui segment" th:each="note : ${recommendBlogs}">
                        <a class="m-black m-text-thin" href="#" target="_blank" th:text="${note.title}"
                           th:href="@{/note/{id}(id=${note.id})}">用户故事 (User Story)</a>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="#" target="_blank">用户故事 (User Story)</a>
                    </div>
                    <!--*/-->
                </div>
                <!--二维码-->
                <div class="ui horizontal divider header m-margin-top-large">扫码关注我</div>
                <div class="ui centered card" style="width: 11em">
                    <img alt="" class="ui rounded image" th:src="@{/images/wechat.jpg}" >
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部footer 为了保证有一个原型，所以index未替换footer-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided inverted stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img alt="" class=" ui rounded image" th:src="@{/images/wechat.jpg}" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新笔记</h4>
                    <div id="newnote-container">
                        <div class="ui inverted link list" th:fragment="newnoteList">
                            <a class="item" href="#" target="_blank" th:href="@{/note/{id}(id=${note.id})}" th:each="note : ${newnotes}" th:text="${note.title}">用户故事（User Story）</a>
                            <!--/*-->
                            <a class="item" href="#">用户故事（User Story）</a>
                            <a class="item" href="#">用户故事（User Story）</a>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#" th:text="|Email: #{index.email}|">Email:514754220@qq.com</a>
                        <a class="item" href="#" th:text="|QQ: #{index.qq}|">QQ:514754220</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">本站介绍</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini" th:text="#{index.introduction}">宁的家~</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny"
               th:text="|#{index.copyright}${#dates.year(#dates.createToday())}|+' 南京信息工程大学'">版权所有 ©2020- 南京信息工程大学</p>        </div>
    </footer>
<!--一定要先jquery，再Semantic！！！！！-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
    $('#newnote-container').load(/*/footer/newnote*/"/footer/newnote");
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
</script>
</body>
</html>