<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/icon.min.css'>
    <link rel="stylesheet  prefetch" href="../static/css/me.css" th:href="@{/css/me.css}"/>
</head>
<body>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui success message me" style="display: none;"></div>
        <div id="register_form" class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        用户注册
                    </div>
                </h2>
                <div class="ui large form">
                    <div class="ui left aligned segment  m-padded-large">
                        <div class="field">
                            <label>头像</label>
                            <div class="ui center aligned stackable  grid">
                                <div class="row m-padded-tb-mini">
                                    <input id="input_avatar" type="hidden" placeholder="所选头像" value="/images/avatar/f1.png">
                                    <img id="img_avatar" class="ui small avatar image" src="../static/images/avatar/f1.png" th:src="@{/images/avatar/f1.png}">
                                </div>
                                <div class="row m-padded-tb-mini">
                                    <div class="ui center aligned segment mini images m-margin-lr m-padded-tb-mini">
                                        <img class="ui image" onclick="changeAvatar('f1')"  th:onclick="changeAvatar('f1')"  src="../static/images/avatar/f1.png"  th:src="@{/images/avatar/f1.png}" >
                                        <img class="ui image" onclick="changeAvatar('f2')"  th:onclick="changeAvatar('f2')"  src="../static/images/avatar/f2.png"  th:src="@{/images/avatar/f2.png}" >
                                        <img class="ui image" onclick="changeAvatar('f3')"  th:onclick="changeAvatar('f3')"  src="../static/images/avatar/f3.png"  th:src="@{/images/avatar/f3.png}" >
                                        <img class="ui image" onclick="changeAvatar('f4')"  th:onclick="changeAvatar('f4')"  src="../static/images/avatar/f4.png"  th:src="@{/images/avatar/f4.png}" >
                                        <img class="ui image" onclick="changeAvatar('f5')"  th:onclick="changeAvatar('f5')"  src="../static/images/avatar/f5.png"  th:src="@{/images/avatar/f5.png}" >
                                        <img class="ui image" onclick="changeAvatar('f6')"  th:onclick="changeAvatar('f6')"  src="../static/images/avatar/f6.png"  th:src="@{/images/avatar/f6.png}" >
                                        <img class="ui image" onclick="changeAvatar('f7')"  th:onclick="changeAvatar('f7')"  src="../static/images/avatar/f7.png"  th:src="@{/images/avatar/f7.png}" >
                                        <img class="ui image" onclick="changeAvatar('f8')"  th:onclick="changeAvatar('f8')"  src="../static/images/avatar/f8.png"  th:src="@{/images/avatar/f8.png}" >
                                        <img class="ui image" onclick="changeAvatar('f9')"  th:onclick="changeAvatar('f9')"  src="../static/images/avatar/f9.png"  th:src="@{/images/avatar/f9.png}" >
                                        <img class="ui image" onclick="changeAvatar('f10')" th:onclick="changeAvatar('f10')" src="../static/images/avatar/f10.png" th:src="@{/images/avatar/f10.png}">
                                        <img class="ui image" onclick="changeAvatar('f11')" th:onclick="changeAvatar('f11')" src="../static/images/avatar/f11.png" th:src="@{/images/avatar/f11.png}">
                                        <img class="ui image" onclick="changeAvatar('f12')" th:onclick="changeAvatar('f12')" src="../static/images/avatar/f12.png" th:src="@{/images/avatar/f12.png}">
                                        <img class="ui image" onclick="changeAvatar('f13')" th:onclick="changeAvatar('f13')" src="../static/images/avatar/f13.png" th:src="@{/images/avatar/f13.png}">
                                        <img class="ui image" onclick="changeAvatar('f14')" th:onclick="changeAvatar('f14')" src="../static/images/avatar/f14.png" th:src="@{/images/avatar/f14.png}">
                                        <img class="ui image" onclick="changeAvatar('m1')"  th:onclick="changeAvatar('m1')"  src="../static/images/avatar/m1.png"  th:src="@{/images/avatar/m1.png}" >
                                        <img class="ui image" onclick="changeAvatar('m2')"  th:onclick="changeAvatar('m2')"  src="../static/images/avatar/m2.png"  th:src="@{/images/avatar/m2.png}" >
                                        <img class="ui image" onclick="changeAvatar('m3')"  th:onclick="changeAvatar('m3')"  src="../static/images/avatar/m3.png"  th:src="@{/images/avatar/m3.png}" >
                                        <img class="ui image" onclick="changeAvatar('m4')"  th:onclick="changeAvatar('m4')"  src="../static/images/avatar/m4.png"  th:src="@{/images/avatar/m4.png}" >
                                        <img class="ui image" onclick="changeAvatar('m5')"  th:onclick="changeAvatar('m5')"  src="../static/images/avatar/m5.png"  th:src="@{/images/avatar/m5.png}" >
                                        <img class="ui image" onclick="changeAvatar('m6')"  th:onclick="changeAvatar('m6')"  src="../static/images/avatar/m6.png"  th:src="@{/images/avatar/m6.png}" >
                                        <img class="ui image" onclick="changeAvatar('m7')"  th:onclick="changeAvatar('m7')"  src="../static/images/avatar/m7.png"  th:src="@{/images/avatar/m7.png}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>昵称</label>
                            <input name="nickname" type="text">
                        </div>
                        <div class="field">
                            <label>用户名</label>
                            <input name="username" type="text">
                        </div>
                        <div class="field">
                            <label>密码</label>
                            <input name="password" type="password">
                        </div>
                        <div class="field">
                            <label>确认密码</label>
                            <input name="passwordverify" type="password">
                        </div>
                        <div class="field">
                            <label>邮箱</label>
                            <input name="email" type="email">
                        </div>
                        <div class="ui mini error message"></div>
                        <div class="ui mini negative message" style="display: none;"></div>
                        <div class="ui mini success message" style="display: none;"></div>
                        <button id="submit_btn" type="button" onclick="checkForm()" class="ui fluid large teal button" >Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--一定要先jquery，再Semantic！！！！！-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="static/js/sha256.js" th:src="@{/js/sha256.js}"></script>
<script>
    $('.ui.form').form({
        fields : {
            username : {
                identifier: 'username',
                rules:[{
                    type:'empty',
                    prompt: '请输入用户名'
                }]
            },
            nickname : {
                identifier: 'nickname',
                rules:[{
                    type:'empty',
                    prompt: '请输入昵称'
                }]
            },
            password : {
                identifier: 'password',
                rules:[{
                    type   : 'regExp[^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d]{8,}$]',
                    prompt : '密码：至少8个字符，至少1个大写字母，1个小写字母和1个数字'
                }]
            },
            passwordverify : {
                identifier: 'passwordverify',
                rules:[{
                    type   : 'match[password]',
                    prompt : '确认密码：两次密码不一致'
                }]
            },
            email : {
                identifier: 'email',
                rules:[{
                    type:'email',
                    prompt: '邮箱:请输入正确的邮箱地址'
                }]
            }
        }
    });
    function checkForm() {
        $('.negative.message').css('display','none').empty();
        $('.ui.form').form("validate form");
        var boo = $('.ui.form').form("is valid");
        if(boo){
            console.log("验证成功");
            postData();
        }else{
            console.log("验证失败");
        }
    }
    function postData(){
        var cryppassword = sha256_digest($("[name='password']").val());
        // console.log($("[name='nickname']").val()+" "+$("[name='username']").val()+" "+cryppassword+" "+$("[name='email']").val()+" "+$('#input_avatar').val()+" ");
        $.post("/register", {
            'nickname': $("[name='nickname']").val(),
            'username': $("[name='username']").val(),
            'password': cryppassword,
            'email': $("[name='email']").val(),
            'avatar': $('#input_avatar').val()
        }, function (responseTxt, statusTxt, xhr) {
            //callback 回调方法
            console.log(responseTxt);
            console.log(statusTxt);
            console.log(xhr);
            if (statusTxt == "success"){
                if(responseTxt == "success"){
                    console.log("register successfully!");
                    $('.nagative.message').css('display','none').empty();
                    $('#register_form').css('display','none');
                    $('.success.message.me').css('display','block');
                    $('#submit_btn').addClass("disabled").text("注册成功");
                    var i=3;
                    $(function(){
                        setTimeout(function(){
                            window.location.href="/login";
                        },3000);//3秒后返回登录页面
                        after();
                    });
                    //自动刷新页面上的时间
                    function after(){
                        $(".success.message.me").empty().append("注册成功~ 自动登录中，"+i+"秒后返回首页~");
                        i=i-1;
                        setTimeout(function(){
                            after();
                        },1000);
                    }
                }else{
                    $('.negative.message').css('display','block').text(responseTxt);
                }
            }
            if (statusTxt == "error"){
                alert("Error: " + xhr.status + ": " + xhr.statusText);
            }
        });
    }

    function changeAvatar(name){
        var url = "/images/avatar/"+name+".png";
        console.log(url);
        $('#input_avatar').val(url);
        $('#img_avatar').attr("src",url);
    }
</script>

</body>
</html>